{% extends 'reservations/base.html' %}
{% load i18n %}
{% block body %}
    <div class="container">
        <h3 class=".panel-title">{% trans "Profile Information" %}</h3>
        <br>
        <ul class="list-group">
            <li class="list-group-item"><b>{% trans "Name:" %}</b> {{ profile.name }} </li>
            <li class="list-group-item"><b>{% trans "Surname:" %}</b> {{ profile.surname }} </li>
            <li class="list-group-item"><b>{% trans "Phone:" %}</b> {{ profile.phone }} </li>
            <li class="list-group-item"><b>{% trans "e-mail:" %}</b> {{ profile.email }} </li>
        </ul>
    </div>
{% endblock %}