{% extends 'reservations/base.html' %}
{% load i18n %}
{% block body %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#start_date").datepicker({dateFormat: 'dd-mm-yy', minDate: +1}).datepicker('setDate', 'today');
            $("#end_date").datepicker({dateFormat: 'dd-mm-yy', minDate: +1}).datepicker('setDate', 'today');
        });

        function process_reservation() {

            var url = 'http://localhost:8000/registrations/test?start_date=' + document.getElementById("start_date").value + '&end_date=' + document.getElementById("end_date").value;
            $.get(url, function (cars, status) {
                var car_list = JSON.parse(JSON.stringify(cars));
                var myNode = document.getElementById("car_list");
                while (myNode.firstChild) {
                    myNode.removeChild(myNode.firstChild);
                }
                for (var i = 0, len = car_list.length; i < len; i++) {
                    var x = document.createElement("p");
                    x.innerHTML = "<div class=\"list-group-item\">" + car_list[i].brand + " " + car_list[i].name + " " + car_list[i].year + " " + car_list[i].type + " " + car_list[i].reg_number + "<form action=\""+ "comments/" + car_list[i].id +"\" method=\"post\"style=\"display:inline-block;\">{% csrf_token %} <input type=\"hidden\" name=\"user\" value=\""+ car_list[i].id +"\"/> <button type=\"submit\" class=\"btn btn-default btn-sm\"> <span class=\"glyphicon glyphicon-list-alt\"></span> </button> </form>" + "<a class=\"btn btn-default\" href=\""+ "create/" + car_list[i].id +"/" + document.getElementById("start_date").value + "/" + document.getElementById("end_date").value +"\">  <span class=\"glyphicon glyphicon-ok-circle\"></span> </form>" +"</div>";
                    document.getElementById("car_list").appendChild(x);
                }

            });
        }
    </script>
    <div class="row">
        <div class="col-md-6">
            <h3 class=".panel-title">{% trans "Free cars" %}</h3>
            <label for="start_date">{% trans "Start date:" %} </label>
            <p>{% trans "Date:" %} <input type="text" id="start_date"></p>
            <label for="end_date">{% trans "End date:" %} </label>
            <p>{% trans "Date:" %} <input type="text" id="end_date"></p>
            <button type="button" onclick="process_reservation()">{% trans "Search" %}</button>
            <br>
            <br>
            <div class="list-group" id="car_list">

            </div>
        </div>
    </div>
{% endblock %}

